.small {
  font-size: 14px; }

.large {
  font-size: 22px; }

.divider {
  height: 1px;
  background-color: #CCCCCC;
  margin: 50px 0; }

.divider-2 {
  height: 1px;
  background-image: radial-gradient(circle at top right, #00A77E, #F2EB76);
  background-image: -moz-radial-gradient(circle at top right, #00A77E, #F2EB76);
  background-image: -webkit-radial-gradient(circle at top right, #00A77E, #F2EB76);
  margin: 50px 0; }

.company-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 1;
  height: 75px;
  transition: top 0.2s ease-in-out; }

.nav-up {
  top: -75px; }

.grid-column {
  clear: both; }
  .grid-column .grid-item {
    float: left; }
  .grid-column .grid-1 {
    width: 25px; }
  .grid-column .grid-2 {
    width: 90%; }

.cols {
  clear: both;
  overflow: hidden; }

.two-col.two-col--icon-right {
  padding: 20px; }
  .two-col.two-col--icon-right .col-item-1 {
    width: auto;
    text-align: center;
    display: block;
    margin: 0 auto 40px; }
  .two-col.two-col--icon-right .col-item-2 {
    text-align: center; }

.two-col.two-col--panel-image-right {
  padding: 20px; }
  .two-col.two-col--panel-image-right .col-item-1 {
    width: 40%;
    display: block;
    margin: 0 auto 40px; }
  .two-col.two-col--panel-image-right .col-item-2 {
    text-align: center; }

#main-content .inner-content {
  padding: 40% 5%; }
  #main-content .inner-content.subpage {
    padding: 75px 0 0; }
    #main-content .inner-content.subpage .page-content {
      background-color: #F4F4F4; }
    #main-content .inner-content.subpage .page-title-wrapper {
      background-color: rgba(51, 51, 51, 0.5);
      padding: 20px; }
      #main-content .inner-content.subpage .page-title-wrapper h1, #main-content .inner-content.subpage .page-title-wrapper h2, #main-content .inner-content.subpage .page-title-wrapper h3, #main-content .inner-content.subpage .page-title-wrapper h4, #main-content .inner-content.subpage .page-title-wrapper h5, #main-content .inner-content.subpage .page-title-wrapper h6 {
        font-family: open_sansbold;
        margin-bottom: 0;
        color: #FFFFFF;
        text-transform: uppercase; }

footer {
  padding: 40px 20px;
  text-align: center; }
  footer p {
    margin: 0;
    font-size: 12px;
    color: #FFFFFF; }

@media screen and (min-width: 360px) {
  #main-content .inner-content {
    padding: 31% 5%; } }

@media screen and (min-width: 800px) {
  .company-wrapper {
    display: none; }
  .main-layout {
    clear: both; }
    .main-layout .main-layout-item {
      float: left;
      transition: all 0.3s; }
    .main-layout .main-layout-item-2 {
      position: relative;
      padding-left: 275px;
      width: 100%; }
  #main-content .inner-content.subpage {
    padding: 75px 5% 0; } }

@media screen and (min-width: 960px) {
  #main-content .inner-content {
    padding: 20% 15%; }
    #main-content .inner-content.subpage {
      padding: 75px 5% 0; } }

@media screen and (min-width: 1200px) {
  #main-content .inner-content {
    padding: 15% 10%; }
    #main-content .inner-content.subpage {
      padding: 100px 8% 0; }
  .two-col .col-item {
    float: left;
    width: 49%; }
  .two-col .col-item-1 {
    margin-right: 2%; }
  .two-col.two-col--icon-right {
    padding: 20px; }
    .two-col.two-col--icon-right .col-item {
      float: float; }
    .two-col.two-col--icon-right .col-item-1 {
      width: 25%;
      text-align: center;
      display: block;
      margin-right: 5%; }
    .two-col.two-col--icon-right .col-item-2 {
      width: 70%;
      text-align: center; }
  .two-col.two-col--panel-image-right {
    padding: 20px; }
    .two-col.two-col--panel-image-right .col-item {
      float: none; }
    .two-col.two-col--panel-image-right .col-item-1 {
      width: 50%;
      display: block;
      margin: 0 auto 40px; }
    .two-col.two-col--panel-image-right .col-item-2 {
      width: auto; } }

@media screen and (min-width: 1344px) {
  .two-col.two-col--panel-image-right {
    padding: 40px; }
    .two-col.two-col--panel-image-right .col-item {
      float: left; }
    .two-col.two-col--panel-image-right .col-item-1 {
      width: 25%;
      display: block;
      margin-right: 5%; }
    .two-col.two-col--panel-image-right .col-item-2 {
      width: 70%; } }

body {
  background: url("../images/philnoni-bg.jpg") no-repeat fixed;
  -moz-background-size: cover;
  background-size: cover;
  font-family: open_sansregular; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'open_sansregular';
  margin: 0;
  margin-bottom: 20px; }

h4, h5, h6 {
  font-weight: bold; }

p {
  line-height: 1.6em;
  margin-bottom: 20px; }

ul, ol, p, a {
  font-size: 18px; }

img {
  width: 100%; }

.menu {
  color: #FFFFFF;
  font-size: 1.6em;
  cursor: pointer; }

.company-link {
  display: block;
  text-decoration: none; }
  .company-link:hover, .company-link:focus {
    opacity: 0.8;
    text-decoration: none;
    outline: 0; }
  .company-link .logo {
    font-family: open_sansbold;
    color: #CAC86D;
    line-height: 0.5em;
    text-align: center;
    margin: 0; }
    .company-link .logo img {
      padding: 15%;
      max-width: 100%;
      width: 100%; }
    .company-link .logo span {
      font-family: open_sansregular;
      font-size: 0.4em;
      color: #FFFFFF;
      line-height: 1px; }

@media screen and (min-width: 960px) {
  body {
    background-position: 150px 0; } }

@media screen and (min-width: 1200px) {
  body {
    background-position: 260px 0; } }

.main-layout-item-1 {
  position: fixed;
  width: 275px;
  top: 0;
  left: 0;
  background-color: #3B3735;
  padding: 0;
  height: 100%;
  overflow: auto;
  transition: all 0.4s;
  z-index: 3;
  box-shadow: 0 0 10px #111111;
  transform: translate(-885px, 0); }
  .main-layout-item-1.active {
    transform: translate(0, 0); }
  .main-layout-item-1 .logo-wrapper {
    position: relative;
    padding: 20px 25px 40px;
    background: url("../images/logo-bg.jpg") no-repeat 0 100%; }
    .main-layout-item-1 .logo-wrapper .menu {
      position: absolute;
      top: 35px;
      left: 20px; }
    .main-layout-item-1 .logo-wrapper .company-link {
      text-decoration: none; }
      .main-layout-item-1 .logo-wrapper .company-link:hover {
        opacity: 0.8;
        text-decoration: none; }
      .main-layout-item-1 .logo-wrapper .company-link .logo {
        font-family: open_sansbold;
        color: #CAC86D;
        line-height: 0.7em;
        text-align: center;
        margin: 0; }
        .main-layout-item-1 .logo-wrapper .company-link .logo img {
          padding: 15%;
          max-width: 100%;
          width: 100%; }
        .main-layout-item-1 .logo-wrapper .company-link .logo span {
          font-family: open_sansregular;
          font-size: 0.45em;
          color: #8D8F78;
          line-height: 1px; }
  .main-layout-item-1 .navigation__close-btn {
    color: #FFFFFF;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.6em;
    cursor: pointer; }

.navigation-overlay {
  transition: all 0.3s;
  background: transparent;
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: '';
  z-index: 2;
  visibility: hidden; }
  .navigation-overlay.active {
    background: rgba(0, 0, 0, 0.5);
    visibility: visible;
    opacity: 1; }

.navigation .list.list--main-navigation {
  padding: 0; }
  .navigation .list.list--main-navigation .list__item {
    color: #FFFFFF;
    list-style-type: none;
    text-align: left;
    border-bottom: 1px solid #363431;
    border-top: 1px solid #444340; }
    .navigation .list.list--main-navigation .list__item:first-child {
      border-top: 0; }
    .navigation .list.list--main-navigation .list__item:last-child {
      border-bottom: 0; }
    .navigation .list.list--main-navigation .list__item .list__item__link {
      color: #CCCCCC;
      text-decoration: none;
      padding: 10px 25px;
      display: block; }
      .navigation .list.list--main-navigation .list__item .list__item__link:hover, .navigation .list.list--main-navigation .list__item .list__item__link:focus, .navigation .list.list--main-navigation .list__item .list__item__link.active {
        color: #444444;
        background-image: radial-gradient(circle at top right, #00A77E, #F2EB76); }

#nav-icon3 {
  width: 20px;
  height: 20px;
  margin: 7px auto 0; }

#nav-icon4 {
  width: 30px;
  height: 30px; }

#nav-icon3, #nav-icon4 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon3 span, #nav-icon4 span {
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  background: #FFFFFF;
  border-radius: 0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  top: 10px; }

#nav-icon3 {
  position: relative; }
  #nav-icon3 span:nth-child(1) {
    top: 0px; }
  #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
    top: 8px; }
  #nav-icon3 span:nth-child(4) {
    top: 16px; }

#nav-icon4 {
  position: absolute;
  top: 26px;
  left: 18px;
  z-index: 2; }
  #nav-icon4 span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; }
  #nav-icon4 span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  #nav-icon4 span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #nav-icon4 span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; }

@media screen and (min-width: 800px) {
  .main-layout-item-1 {
    position: fixed;
    transform: translate(0, 0); }
  #nav-icon4 {
    display: none; } }

.btn {
  padding: 12px 16px;
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block; }
  .btn.btn-index:hover, .btn.btn-index:focus {
    color: #CAC86D;
    text-decoration: none; }
  .btn.btn-index .top, .btn.btn-index .right, .btn.btn-index .bottom, .btn.btn-index .left {
    position: absolute;
    z-index: 1; }
  .btn.btn-index .top, .btn.btn-index .bottom {
    left: 0;
    right: 0;
    height: 2px; }
  .btn.btn-index .top {
    top: 0;
    background-image: -moz-linear-gradient(left, #F2EB76 50%, #00986B 90%);
    background-image: -webkit-linear-gradient(left, #F2EB76 50%, #00986B 90%); }
  .btn.btn-index .bottom {
    bottom: 0;
    background-image: -moz-linear-gradient(left, #F2EB76 10%, #00986B 50%);
    background-image: -webkit-linear-gradient(left, #F2EB76 10%, #00986B 50%); }
  .btn.btn-index .left, .btn.btn-index .right {
    top: 0;
    width: 2px; }
  .btn.btn-index .left {
    bottom: 0;
    left: 0;
    width: 2px;
    background-image: -moz-linear-gradient(#F2EB76, #F2EB76);
    background-image: -webkit-linear-gradient(#F2EB76, #F2EB76); }
  .btn.btn-index .right {
    right: 0;
    bottom: 0;
    width: -2px;
    background-image: -moz-linear-gradient(#00986B, #00986B);
    background-image: -webkit-linear-gradient(#00986B, #00986B); }

.list {
  margin: 0;
  line-height: 1.8em;
  margin-bottom: 20px; }

ul, ol {
  padding-left: 30px; }

.link {
  background-color: none;
  text-decoration: underline; }
  .link:hover {
    text-decoration: none; }

h1.home-title {
  color: white;
  font-family: 'open_sanslight';
  font-size: 2.6em;
  font-weight: normal;
  margin-bottom: 30px; }

h1.home-title strong {
  color: white;
  font-family: 'open_sanssemibold'; }

.home-description {
  margin-bottom: 30px;
  color: white; }

.link {
  background-color: none;
  color: #FFFFFF; }
  .link:hover, .link:focus {
    color: #CAC86D; }

.index .company-wrapper {
  background-color: transparent; }

@media screen and (min-width: 480px) {
  h1.home-title {
    font-size: 4.8em; } }

@media screen and (min-width: 800px) {
  h1.home-title {
    font-size: 4em; } }

@media screen and (min-width: 960px) {
  h1.home-title {
    font-size: 4.6em; } }

@media screen and (min-width: 1200px) {
  h1.home-title {
    font-size: 5em; } }

.product-wrapper {
  overflow: auto; }
  .product-wrapper .product--group {
    overflow: hidden;
    width: 1500px; }
    .product-wrapper .product--group .product__item {
      position: relative;
      width: 200px;
      display: inline-block;
      margin: 0 5px; }
      .product-wrapper .product--group .product__item .product__label {
        position: absolute;
        color: #FFFFFF;
        padding: 5px 10px;
        right: 0;
        border-radius: 0 0 0 10px; }
        .product-wrapper .product--group .product__item .product__label.new-product {
          background-color: #bc1339; }
        .product-wrapper .product--group .product__item .product__label.on-sale {
          background-color: #008000; }
      .product-wrapper .product--group .product__item .product__image {
        padding: 20px; }
      .product-wrapper .product--group .product__item .product__details {
        padding: 20px; }
        .product-wrapper .product--group .product__item .product__details .strikethrough {
          text-decoration: line-through;
          color: #aaa; }

.xsm-text-left {
  text-align: left; }

.xsm-text-right {
  text-align: right; }

.xsm-text-center {
  text-align: center; }

.xsm-m0 {
  margin: 0; }

.xsm-m10 {
  margin: 10px; }

.xsm-m20 {
  margin: 20px; }

.xsm-m30 {
  margin: 30px; }

.xsm-m40 {
  margin: 40px; }

.xsm-m50 {
  margin: 50px; }

.xsm-m60 {
  margin: 60px; }

.xsm-m70 {
  margin: 70px; }

.xsm-m80 {
  margin: 80px; }

.xsm-m90 {
  margin: 90px; }

.xsm-m100 {
  margin: 100px; }

.xsm-mt0 {
  margin-top: 0; }

.xsm-mt10 {
  margin-top: 10px; }

.xsm-mt20 {
  margin-top: 20px; }

.xsm-mt30 {
  margin-top: 30px; }

.xsm-mt40 {
  margin-top: 40px; }

.xsm-mt50 {
  margin-top: 50px; }

.xsm-mt60 {
  margin-top: 60px; }

.xsm-mt70 {
  margin-top: 70px; }

.xsm-mt80 {
  margin-top: 80px; }

.xsm-mt90 {
  margin-top: 90px; }

.xsm-mt100 {
  margin-top: 100px; }

.xsm-mb0 {
  margin-bottom: 0; }

.xsm-mb10 {
  margin-bottom: 10px; }

.xsm-mb20 {
  margin-bottom: 20px; }

.xsm-mb30 {
  margin-bottom: 30px; }

.xsm-mb40 {
  margin-bottom: 40px; }

.xsm-mb50 {
  margin-bottom: 50px; }

.xsm-mb60 {
  margin-bottom: 60px; }

.xsm-mb70 {
  margin-bottom: 70px; }

.xsm-mb80 {
  margin-bottom: 80px; }

.xsm-mb90 {
  margin-bottom: 90px; }

.xsm-mb100 {
  margin-bottom: 100px; }

.xsm-ml0 {
  margin-left: 0; }

.xsm-ml10 {
  margin-left: 10px; }

.xsm-ml20 {
  margin-left: 20px; }

.xsm-ml30 {
  margin-left: 30px; }

.xsm-ml40 {
  margin-left: 40px; }

.xsm-ml50 {
  margin-left: 50px; }

.xsm-ml60 {
  margin-left: 60px; }

.xsm-ml70 {
  margin-left: 70px; }

.xsm-ml80 {
  margin-left: 80px; }

.xsm-ml90 {
  margin-left: 90px; }

.xsm-ml100 {
  margin-left: 100px; }

.xsm-mr0 {
  margin-right: 0; }

.xsm-mr10 {
  margin-right: 10px; }

.xsm-mr20 {
  margin-right: 20px; }

.xsm-mr30 {
  margin-right: 30px; }

.xsm-mr40 {
  margin-right: 40px; }

.xsm-mr50 {
  margin-right: 50px; }

.xsm-mr60 {
  margin-right: 60px; }

.xsm-mr70 {
  margin-right: 70px; }

.xsm-mr80 {
  margin-right: 80px; }

.xsm-mr90 {
  margin-right: 90px; }

.xsm-mr100 {
  margin-right: 100px; }

.xsm-p0 {
  padding: 0; }

.xsm-p10 {
  padding: 10px; }
  .xsm-p10.row {
    margin: 0;
    padding: 10px 0; }

.xsm-p20 {
  padding: 20px; }
  .xsm-p20.row {
    margin: 0;
    padding: 20px 10px; }

.xsm-p30 {
  padding: 30px; }
  .xsm-p30.row {
    margin: 0;
    padding: 30px 20px; }

.xsm-p40 {
  padding: 10px; }
  .xsm-p40.row {
    margin: 0;
    padding: 40px 30px; }

.xsm-p50 {
  padding: 50px; }

.xsm-p60 {
  padding: 60px; }

.xsm-p70 {
  padding: 70px; }

.xsm-p80 {
  padding: 80px; }

.xsm-p90 {
  padding: 90px; }

.xsm-p100 {
  padding: 100px; }

.xsm-pt0 {
  padding-top: 0; }

.xsm-pt10 {
  padding-top: 10px; }

.xsm-pt20 {
  padding-top: 20px; }

.xsm-pt30 {
  padding-top: 30px; }

.xsm-pt40 {
  padding-top: 40px; }

.xsm-pt50 {
  padding-top: 50px; }

.xsm-pt60 {
  padding-top: 60px; }

.xsm-pt70 {
  padding-top: 70px; }

.xsm-pt80 {
  padding-top: 80px; }

.xsm-pt90 {
  padding-top: 90px; }

.xsm-pt100 {
  padding-top: 100px; }

.xsm-pb0 {
  padding-bottom: 0; }

.xsm-pb10 {
  padding-bottom: 10px; }

.xsm-pb20 {
  padding-bottom: 20px; }

.xsm-pb30 {
  padding-bottom: 30px; }

.xsm-pb40 {
  padding-bottom: 40px; }

.xsm-pb50 {
  padding-bottom: 50px; }

.xsm-pb60 {
  padding-bottom: 60px; }

.xsm-pb70 {
  padding-bottom: 70px; }

.xsm-pb80 {
  padding-bottom: 80px; }

.xsm-pb90 {
  padding-bottom: 90px; }

.xsm-pb100 {
  padding-bottom: 100px; }

.xsm-pl0 {
  padding-left: 0; }

.xsm-pl10 {
  padding-left: 10px; }

.xsm-pl20 {
  padding-left: 20px; }

.xsm-pl30 {
  padding-left: 30px; }

.xsm-pl40 {
  padding-left: 40px; }

.xsm-pl50 {
  padding-left: 50px; }

.xsm-pl60 {
  padding-left: 60px; }

.xsm-pl70 {
  padding-left: 70px; }

.xsm-pl80 {
  padding-left: 80px; }

.xsm-pl90 {
  padding-left: 90px; }

.xsm-pl100 {
  padding-left: 100px; }

.xsm-pr0 {
  padding-right: 0; }

.xsm-pr10 {
  padding-right: 10px; }

.xsm-pr20 {
  padding-right: 20px; }

.xsm-pr30 {
  padding-right: 30px; }

.xsm-pr40 {
  padding-right: 40px; }

.xsm-pr50 {
  padding-right: 50px; }

.xsm-pr60 {
  padding-right: 60px; }

.xsm-pr70 {
  padding-right: 70px; }

.xsm-pr80 {
  padding-right: 80px; }

.xsm-pr90 {
  padding-right: 90px; }

.xsm-pr100 {
  padding-right: 100px; }

@media screen and (min-width: 576px) {
  .sm-text-left {
    text-align: left; }
  .sm-text-right {
    text-align: right; }
  .sm-text-center {
    text-align: center; }
  .sm-m0 {
    margin: 0; }
  .sm-m10 {
    margin: 10px; }
  .sm-m20 {
    margin: 20px; }
  .sm-m30 {
    margin: 30px; }
  .sm-m40 {
    margin: 40px; }
  .sm-m50 {
    margin: 50px; }
  .sm-m60 {
    margin: 60px; }
  .sm-m70 {
    margin: 70px; }
  .sm-m80 {
    margin: 80px; }
  .sm-m90 {
    margin: 90px; }
  .sm-m100 {
    margin: 100px; }
  .sm-mt0 {
    margin-top: 0; }
  .sm-mt10 {
    margin-top: 10px; }
  .sm-mt20 {
    margin-top: 20px; }
  .sm-mt30 {
    margin-top: 30px; }
  .sm-mt40 {
    margin-top: 40px; }
  .sm-mt50 {
    margin-top: 50px; }
  .sm-mt60 {
    margin-top: 60px; }
  .sm-mt70 {
    margin-top: 70px; }
  .sm-mt80 {
    margin-top: 80px; }
  .sm-mt90 {
    margin-top: 90px; }
  .sm-mt100 {
    margin-top: 100px; }
  .sm-mb0 {
    margin-bottom: 0; }
  .sm-mb10 {
    margin-bottom: 10px; }
  .sm-mb20 {
    margin-bottom: 20px; }
  .sm-mb30 {
    margin-bottom: 30px; }
  .sm-mb40 {
    margin-bottom: 40px; }
  .sm-mb50 {
    margin-bottom: 50px; }
  .sm-mb60 {
    margin-bottom: 60px; }
  .sm-mb70 {
    margin-bottom: 70px; }
  .sm-mb80 {
    margin-bottom: 80px; }
  .sm-mb90 {
    margin-bottom: 90px; }
  .sm-mb100 {
    margin-bottom: 100px; }
  .sm-ml0 {
    margin-left: 0; }
  .sm-ml10 {
    margin-left: 10px; }
  .sm-ml20 {
    margin-left: 20px; }
  .sm-ml30 {
    margin-left: 30px; }
  .sm-ml40 {
    margin-left: 40px; }
  .sm-ml50 {
    margin-left: 50px; }
  .sm-ml60 {
    margin-left: 60px; }
  .sm-ml70 {
    margin-left: 70px; }
  .sm-ml80 {
    margin-left: 80px; }
  .sm-ml90 {
    margin-left: 90px; }
  .sm-ml100 {
    margin-left: 100px; }
  .sm-mr0 {
    margin-right: 0; }
  .sm-mr10 {
    margin-right: 10px; }
  .sm-mr20 {
    margin-right: 20px; }
  .sm-mr30 {
    margin-right: 30px; }
  .sm-mr40 {
    margin-right: 40px; }
  .sm-mr50 {
    margin-right: 50px; }
  .sm-mr60 {
    margin-right: 60px; }
  .sm-mr70 {
    margin-right: 70px; }
  .sm-mr80 {
    margin-right: 80px; }
  .sm-mr90 {
    margin-right: 90px; }
  .sm-mr100 {
    margin-right: 100px; }
  .sm-p0 {
    padding: 0; }
  .sm-p10 {
    padding: 10px; }
  .sm-p20 {
    padding: 20px; }
  .sm-p30 {
    padding: 30px; }
  .sm-p40 {
    padding: 40px; }
  .sm-p50 {
    padding: 50px; }
  .sm-p60 {
    padding: 60px; }
  .sm-p70 {
    padding: 70px; }
  .sm-p80 {
    padding: 80px; }
  .sm-p90 {
    padding: 90px; }
  .sm-p100 {
    padding: 100px; }
  .sm-pt0 {
    padding-top: 0; }
  .sm-pt10 {
    padding-top: 10px; }
  .sm-pt20 {
    padding-top: 20px; }
  .sm-pt30 {
    padding-top: 30px; }
  .sm-pt40 {
    padding-top: 40px; }
  .sm-pt50 {
    padding-top: 50px; }
  .sm-pt60 {
    padding-top: 60px; }
  .sm-pt70 {
    padding-top: 70px; }
  .sm-pt80 {
    padding-top: 80px; }
  .sm-pt90 {
    padding-top: 90px; }
  .sm-pt100 {
    padding-top: 100px; }
  .sm-pb0 {
    padding-bottom: 0; }
  .sm-pb10 {
    padding-bottom: 10px; }
  .sm-pb20 {
    padding-bottom: 20px; }
  .sm-pb30 {
    padding-bottom: 30px; }
  .sm-pb40 {
    padding-bottom: 40px; }
  .sm-pb50 {
    padding-bottom: 50px; }
  .sm-pb60 {
    padding-bottom: 60px; }
  .sm-pb70 {
    padding-bottom: 70px; }
  .sm-pb80 {
    padding-bottom: 80px; }
  .sm-pb90 {
    padding-bottom: 90px; }
  .sm-pb100 {
    padding-bottom: 100px; }
  .sm-pl0 {
    padding-left: 0; }
  .sm-pl10 {
    padding-left: 10px; }
  .sm-pl20 {
    padding-left: 20px; }
  .sm-pl30 {
    padding-left: 30px; }
  .sm-pl40 {
    padding-left: 40px; }
  .sm-pl50 {
    padding-left: 50px; }
  .sm-pl60 {
    padding-left: 60px; }
  .sm-pl70 {
    padding-left: 70px; }
  .sm-pl80 {
    padding-left: 80px; }
  .sm-pl90 {
    padding-left: 90px; }
  .sm-pl100 {
    padding-left: 100px; }
  .sm-pr0 {
    padding-right: 0; }
  .sm-pr10 {
    padding-right: 10px; }
  .sm-pr20 {
    padding-right: 20px; }
  .sm-pr30 {
    padding-right: 30px; }
  .sm-pr40 {
    padding-right: 40px; }
  .sm-pr50 {
    padding-right: 50px; }
  .sm-pr60 {
    padding-right: 60px; }
  .sm-pr70 {
    padding-right: 70px; }
  .sm-pr80 {
    padding-right: 80px; }
  .sm-pr90 {
    padding-right: 90px; }
  .sm-pr100 {
    padding-right: 100px; }
  .sm-p0 {
    padding: 0; }
  .sm-p10 {
    padding: 10px; }
  .sm-p20 {
    padding: 20px; }
  .sm-p30 {
    padding: 30px; }
  .sm-p40 {
    padding: 40px; }
  .sm-p50 {
    padding: 50px; }
  .sm-p60 {
    padding: 60px; }
  .sm-p70 {
    padding: 70px; }
  .sm-p80 {
    padding: 80px; }
  .sm-p90 {
    padding: 90px; }
  .sm-p100 {
    padding: 100px; }
  .sm-pt0 {
    padding-top: 0; }
  .sm-pt10 {
    padding-top: 10px; }
  .sm-pt20 {
    padding-top: 20px; }
  .sm-pt30 {
    padding-top: 30px; }
  .sm-pt40 {
    padding-top: 40px; }
  .sm-pt50 {
    padding-top: 50px; }
  .sm-pt60 {
    padding-top: 60px; }
  .sm-pt70 {
    padding-top: 70px; }
  .sm-pt80 {
    padding-top: 80px; }
  .sm-pt90 {
    padding-top: 90px; }
  .sm-pt100 {
    padding-top: 100px; }
  .sm-pb0 {
    padding-bottom: 0; }
  .sm-pb10 {
    padding-bottom: 10px; }
  .sm-pb20 {
    padding-bottom: 20px; }
  .sm-pb30 {
    padding-bottom: 30px; }
  .sm-pb40 {
    padding-bottom: 40px; }
  .sm-pb50 {
    padding-bottom: 50px; }
  .sm-pb60 {
    padding-bottom: 60px; }
  .sm-pb70 {
    padding-bottom: 70px; }
  .sm-pb80 {
    padding-bottom: 80px; }
  .sm-pb90 {
    padding-bottom: 90px; }
  .sm-pb100 {
    padding-bottom: 100px; }
  .sm-pl0 {
    padding-left: 0; }
  .sm-pl10 {
    padding-left: 10px; }
  .sm-pl20 {
    padding-left: 20px; }
  .sm-pl30 {
    padding-left: 30px; }
  .sm-pl40 {
    padding-left: 40px; }
  .sm-pl50 {
    padding-left: 50px; }
  .sm-pl60 {
    padding-left: 60px; }
  .sm-pl70 {
    padding-left: 70px; }
  .sm-pl80 {
    padding-left: 80px; }
  .sm-pl90 {
    padding-left: 90px; }
  .sm-pl100 {
    padding-left: 100px; }
  .sm-pr0 {
    padding-right: 0; }
  .sm-pr10 {
    padding-right: 10px; }
  .sm-pr20 {
    padding-right: 20px; }
  .sm-pr30 {
    padding-right: 30px; }
  .sm-pr40 {
    padding-right: 40px; }
  .sm-pr50 {
    padding-right: 50px; }
  .sm-pr60 {
    padding-right: 60px; }
  .sm-pr70 {
    padding-right: 70px; }
  .sm-pr80 {
    padding-right: 80px; }
  .sm-pr90 {
    padding-right: 90px; }
  .sm-pr100 {
    padding-right: 100px; } }

@media screen and (min-width: 768px) {
  .md-text-left {
    text-align: left; }
  .md-text-right {
    text-align: right; }
  .md-text-center {
    text-align: center; }
  .md-m0 {
    margin: 0; }
  .md-m10 {
    margin: 10px; }
  .md-m20 {
    margin: 20px; }
  .md-m30 {
    margin: 30px; }
  .md-m40 {
    margin: 40px; }
  .md-m50 {
    margin: 50px; }
  .md-m60 {
    margin: 60px; }
  .md-m70 {
    margin: 70px; }
  .md-m80 {
    margin: 80px; }
  .md-m90 {
    margin: 90px; }
  .md-m100 {
    margin: 100px; }
  .md-mt0 {
    margin-top: 0; }
  .md-mt10 {
    margin-top: 10px; }
  .md-mt20 {
    margin-top: 20px; }
  .md-mt30 {
    margin-top: 30px; }
  .md-mt40 {
    margin-top: 40px; }
  .md-mt50 {
    margin-top: 50px; }
  .md-mt60 {
    margin-top: 60px; }
  .md-mt70 {
    margin-top: 70px; }
  .md-mt80 {
    margin-top: 80px; }
  .md-mt90 {
    margin-top: 90px; }
  .md-mt100 {
    margin-top: 100px; }
  .md-mb0 {
    margin-bottom: 0; }
  .md-mb10 {
    margin-bottom: 10px; }
  .md-mb20 {
    margin-bottom: 20px; }
  .md-mb30 {
    margin-bottom: 30px; }
  .md-mb40 {
    margin-bottom: 40px; }
  .md-mb50 {
    margin-bottom: 50px; }
  .md-mb60 {
    margin-bottom: 60px; }
  .md-mb70 {
    margin-bottom: 70px; }
  .md-mb80 {
    margin-bottom: 80px; }
  .md-mb90 {
    margin-bottom: 90px; }
  .md-mb100 {
    margin-bottom: 100px; }
  .md-ml0 {
    margin-left: 0; }
  .md-ml10 {
    margin-left: 10px; }
  .md-ml20 {
    margin-left: 20px; }
  .md-ml30 {
    margin-left: 30px; }
  .md-ml40 {
    margin-left: 40px; }
  .md-ml50 {
    margin-left: 50px; }
  .md-ml60 {
    margin-left: 60px; }
  .md-ml70 {
    margin-left: 70px; }
  .md-ml80 {
    margin-left: 80px; }
  .md-ml90 {
    margin-left: 90px; }
  .md-ml100 {
    margin-left: 100px; }
  .md-mr0 {
    margin-right: 0; }
  .md-mr10 {
    margin-right: 10px; }
  .md-mr20 {
    margin-right: 20px; }
  .md-mr30 {
    margin-right: 30px; }
  .md-mr40 {
    margin-right: 40px; }
  .md-mr50 {
    margin-right: 50px; }
  .md-mr60 {
    margin-right: 60px; }
  .md-mr70 {
    margin-right: 70px; }
  .md-mr80 {
    margin-right: 80px; }
  .md-mr90 {
    margin-right: 90px; }
  .md-mr100 {
    margin-right: 100px; }
  .md-p0 {
    padding: 0; }
  .md-p10 {
    padding: 10px; }
    .md-p10.row {
      margin: 0;
      padding: 10px 0; }
  .md-p20 {
    padding: 20px; }
    .md-p20.row {
      margin: 0;
      padding: 20px 10px; }
  .md-p30 {
    padding: 30px; }
    .md-p30.row {
      margin: 0;
      padding: 30px 20px; }
  .md-p40 {
    padding: 40px; }
    .md-p40.row {
      margin: 0;
      padding: 40px 30px; }
  .md-p50 {
    padding: 50px; }
    .md-p50.row {
      margin: 0;
      padding: 50px 40px; }
  .md-p60 {
    padding: 60px; }
    .md-p60.row {
      margin: 0;
      padding: 60px 50px; }
  .md-p70 {
    padding: 70px; }
    .md-p70.row {
      margin: 0;
      padding: 70px 60px; }
  .md-p80 {
    padding: 80px; }
    .md-p80.row {
      margin: 0;
      padding: 80px 70px; }
  .md-p90 {
    padding: 90px; }
    .md-p90.row {
      margin: 0;
      padding: 90px 80px; }
  .md-p100 {
    padding: 100px; }
    .md-p100.row {
      margin: 0;
      padding: 100px 90px; }
  .md-pt0 {
    padding-top: 0; }
  .md-pt10 {
    padding-top: 10px; }
  .md-pt20 {
    padding-top: 20px; }
  .md-pt30 {
    padding-top: 30px; }
  .md-pt40 {
    padding-top: 40px; }
  .md-pt50 {
    padding-top: 50px; }
  .md-pt60 {
    padding-top: 60px; }
  .md-pt70 {
    padding-top: 70px; }
  .md-pt80 {
    padding-top: 80px; }
  .md-pt90 {
    padding-top: 90px; }
  .md-pt100 {
    padding-top: 100px; }
  .md-pb0 {
    padding-bottom: 0; }
  .md-pb10 {
    padding-bottom: 10px; }
  .md-pb20 {
    padding-bottom: 20px; }
  .md-pb30 {
    padding-bottom: 30px; }
  .md-pb40 {
    padding-bottom: 40px; }
  .md-pb50 {
    padding-bottom: 50px; }
  .md-pb60 {
    padding-bottom: 60px; }
  .md-pb70 {
    padding-bottom: 70px; }
  .md-pb80 {
    padding-bottom: 80px; }
  .md-pb90 {
    padding-bottom: 90px; }
  .md-pb100 {
    padding-bottom: 100px; }
  .md-pl0 {
    padding-left: 0; }
  .md-pl10 {
    padding-left: 10px; }
  .md-pl20 {
    padding-left: 20px; }
  .md-pl30 {
    padding-left: 30px; }
  .md-pl40 {
    padding-left: 40px; }
  .md-pl50 {
    padding-left: 50px; }
  .md-pl60 {
    padding-left: 60px; }
  .md-pl70 {
    padding-left: 70px; }
  .md-pl80 {
    padding-left: 80px; }
  .md-pl90 {
    padding-left: 90px; }
  .md-pl100 {
    padding-left: 100px; }
  .md-pr0 {
    padding-right: 0; }
  .md-pr10 {
    padding-right: 10px; }
  .md-pr20 {
    padding-right: 20px; }
  .md-pr30 {
    padding-right: 30px; }
  .md-pr40 {
    padding-right: 40px; }
  .md-pr50 {
    padding-right: 50px; }
  .md-pr60 {
    padding-right: 60px; }
  .md-pr70 {
    padding-right: 70px; }
  .md-pr80 {
    padding-right: 80px; }
  .md-pr90 {
    padding-right: 90px; }
  .md-pr100 {
    padding-right: 100px; } }

@media screen and (min-width: 960px) {
  .lg-text-left {
    text-align: left; }
  .lg-text-right {
    text-align: right; }
  .lg-text-center {
    text-align: center; }
  .lg-m0 {
    margin: 0; }
  .lg-m10 {
    margin: 10px; }
  .lg-m20 {
    margin: 20px; }
  .lg-m30 {
    margin: 30px; }
  .lg-m40 {
    margin: 40px; }
  .lg-m50 {
    margin: 50px; }
  .lg-m60 {
    margin: 60px; }
  .lg-m70 {
    margin: 70px; }
  .lg-m80 {
    margin: 80px; }
  .lg-m90 {
    margin: 90px; }
  .lg-m100 {
    margin: 100px; }
  .lg-mt0 {
    margin-top: 0; }
  .lg-mt10 {
    margin-top: 10px; }
  .lg-mt20 {
    margin-top: 20px; }
  .lg-mt30 {
    margin-top: 30px; }
  .lg-mt40 {
    margin-top: 40px; }
  .lg-mt50 {
    margin-top: 50px; }
  .lg-mt60 {
    margin-top: 60px; }
  .lg-mt70 {
    margin-top: 70px; }
  .lg-mt80 {
    margin-top: 80px; }
  .lg-mt90 {
    margin-top: 90px; }
  .lg-mt100 {
    margin-top: 100px; }
  .lg-mb0 {
    margin-bottom: 0; }
  .lg-mb10 {
    margin-bottom: 10px; }
  .lg-mb20 {
    margin-bottom: 20px; }
  .lg-mb30 {
    margin-bottom: 30px; }
  .lg-mb40 {
    margin-bottom: 40px; }
  .lg-mb50 {
    margin-bottom: 50px; }
  .lg-mb60 {
    margin-bottom: 60px; }
  .lg-mb70 {
    margin-bottom: 70px; }
  .lg-mb80 {
    margin-bottom: 80px; }
  .lg-mb90 {
    margin-bottom: 90px; }
  .lg-mb100 {
    margin-bottom: 100px; }
  .lg-ml0 {
    margin-left: 0; }
  .lg-ml10 {
    margin-left: 10px; }
  .lg-ml20 {
    margin-left: 20px; }
  .lg-ml30 {
    margin-left: 30px; }
  .lg-ml40 {
    margin-left: 40px; }
  .lg-ml50 {
    margin-left: 50px; }
  .lg-ml60 {
    margin-left: 60px; }
  .lg-ml70 {
    margin-left: 70px; }
  .lg-ml80 {
    margin-left: 80px; }
  .lg-ml90 {
    margin-left: 90px; }
  .lg-ml100 {
    margin-left: 100px; }
  .lg-mr0 {
    margin-right: 0; }
  .lg-mr10 {
    margin-right: 10px; }
  .lg-mr20 {
    margin-right: 20px; }
  .lg-mr30 {
    margin-right: 30px; }
  .lg-mr40 {
    margin-right: 40px; }
  .lg-mr50 {
    margin-right: 50px; }
  .lg-mr60 {
    margin-right: 60px; }
  .lg-mr70 {
    margin-right: 70px; }
  .lg-mr80 {
    margin-right: 80px; }
  .lg-mr90 {
    margin-right: 90px; }
  .lg-mr100 {
    margin-right: 100px; }
  .lg-p0 {
    padding: 0; }
  .lg-p10 {
    padding: 10px; }
    .lg-p10.row {
      margin: 0;
      padding: 10px 0; }
  .lg-p20 {
    padding: 20px; }
    .lg-p20.row {
      margin: 0;
      padding: 20px 10px; }
  .lg-p30 {
    padding: 30px; }
    .lg-p30.row {
      margin: 0;
      padding: 30px 20px; }
  .lg-p40 {
    padding: 40px; }
    .lg-p40.row {
      margin: 0;
      padding: 40px 30px; }
  .lg-p50 {
    padding: 50px; }
    .lg-p50.row {
      margin: 0;
      padding: 50px 40px; }
  .lg-p60 {
    padding: 60px; }
    .lg-p60.row {
      margin: 0;
      padding: 60px 50px; }
  .lg-p70 {
    padding: 70px; }
    .lg-p70.row {
      margin: 0;
      padding: 70px 60px; }
  .lg-p80 {
    padding: 80px; }
    .lg-p80.row {
      margin: 0;
      padding: 80px 70px; }
  .lg-p90 {
    padding: 90px; }
    .lg-p90.row {
      margin: 0;
      padding: 90px 80px; }
  .lg-p100 {
    padding: 100px; }
    .lg-p100.row {
      margin: 0;
      padding: 100px 90px; }
  .lg-pt0 {
    padding-top: 0; }
  .lg-pt10 {
    padding-top: 10px; }
  .lg-pt20 {
    padding-top: 20px; }
  .lg-pt30 {
    padding-top: 30px; }
  .lg-pt40 {
    padding-top: 40px; }
  .lg-pt50 {
    padding-top: 50px; }
  .lg-pt60 {
    padding-top: 60px; }
  .lg-pt70 {
    padding-top: 70px; }
  .lg-pt80 {
    padding-top: 80px; }
  .lg-pt90 {
    padding-top: 90px; }
  .lg-pt100 {
    padding-top: 100px; }
  .lg-pb0 {
    padding-bottom: 0; }
  .lg-pb10 {
    padding-bottom: 10px; }
  .lg-pb20 {
    padding-bottom: 20px; }
  .lg-pb30 {
    padding-bottom: 30px; }
  .lg-pb40 {
    padding-bottom: 40px; }
  .lg-pb50 {
    padding-bottom: 50px; }
  .lg-pb60 {
    padding-bottom: 60px; }
  .lg-pb70 {
    padding-bottom: 70px; }
  .lg-pb80 {
    padding-bottom: 80px; }
  .lg-pb90 {
    padding-bottom: 90px; }
  .lg-pb100 {
    padding-bottom: 100px; }
  .lg-pl0 {
    padding-left: 0; }
  .lg-pl10 {
    padding-left: 10px; }
  .lg-pl20 {
    padding-left: 20px; }
  .lg-pl30 {
    padding-left: 30px; }
  .lg-pl40 {
    padding-left: 40px; }
  .lg-pl50 {
    padding-left: 50px; }
  .lg-pl60 {
    padding-left: 60px; }
  .lg-pl70 {
    padding-left: 70px; }
  .lg-pl80 {
    padding-left: 80px; }
  .lg-pl90 {
    padding-left: 90px; }
  .lg-pl100 {
    padding-left: 100px; }
  .lg-pr0 {
    padding-right: 0; }
  .lg-pr10 {
    padding-right: 10px; }
  .lg-pr20 {
    padding-right: 20px; }
  .lg-pr30 {
    padding-right: 30px; }
  .lg-pr40 {
    padding-right: 40px; }
  .lg-pr50 {
    padding-right: 50px; }
  .lg-pr60 {
    padding-right: 60px; }
  .lg-pr70 {
    padding-right: 70px; }
  .lg-pr80 {
    padding-right: 80px; }
  .lg-pr90 {
    padding-right: 90px; }
  .lg-pr100 {
    padding-right: 100px; } }

@media screen and (min-width: 1200px) {
  .xlg-text-left {
    text-align: left; }
  .xlg-text-right {
    text-align: right; }
  .xlg-text-center {
    text-align: center; }
  .xlg-m0 {
    margin: 0; }
  .xlg-m10 {
    margin: 10px; }
  .xlg-m20 {
    margin: 20px; }
  .xlg-m30 {
    margin: 30px; }
  .xlg-m40 {
    margin: 40px; }
  .xlg-m50 {
    margin: 50px; }
  .xlg-m60 {
    margin: 60px; }
  .xlg-m70 {
    margin: 70px; }
  .xlg-m80 {
    margin: 80px; }
  .xlg-m90 {
    margin: 90px; }
  .xlg-m100 {
    margin: 100px; }
  .xlg-mt0 {
    margin-top: 0; }
  .xlg-mt10 {
    margin-top: 10px; }
  .xlg-mt20 {
    margin-top: 20px; }
  .xlg-mt30 {
    margin-top: 30px; }
  .xlg-mt40 {
    margin-top: 40px; }
  .xlg-mt50 {
    margin-top: 50px; }
  .xlg-mt60 {
    margin-top: 60px; }
  .xlg-mt70 {
    margin-top: 70px; }
  .xlg-mt80 {
    margin-top: 80px; }
  .xlg-mt90 {
    margin-top: 90px; }
  .xlg-mt100 {
    margin-top: 100px; }
  .xlg-mb0 {
    margin-bottom: 0; }
  .xlg-mb10 {
    margin-bottom: 10px; }
  .xlg-mb20 {
    margin-bottom: 20px; }
  .xlg-mb30 {
    margin-bottom: 30px; }
  .xlg-mb40 {
    margin-bottom: 40px; }
  .xlg-mb50 {
    margin-bottom: 50px; }
  .xlg-mb60 {
    margin-bottom: 60px; }
  .xlg-mb70 {
    margin-bottom: 70px; }
  .xlg-mb80 {
    margin-bottom: 80px; }
  .xlg-mb90 {
    margin-bottom: 90px; }
  .xlg-mb100 {
    margin-bottom: 100px; }
  .xlg-ml0 {
    margin-left: 0; }
  .xlg-ml10 {
    margin-left: 10px; }
  .xlg-ml20 {
    margin-left: 20px; }
  .xlg-ml30 {
    margin-left: 30px; }
  .xlg-ml40 {
    margin-left: 40px; }
  .xlg-ml50 {
    margin-left: 50px; }
  .xlg-ml60 {
    margin-left: 60px; }
  .xlg-ml70 {
    margin-left: 70px; }
  .xlg-ml80 {
    margin-left: 80px; }
  .xlg-ml90 {
    margin-left: 90px; }
  .xlg-ml100 {
    margin-left: 100px; }
  .xlg-mr0 {
    margin-right: 0; }
  .xlg-mr10 {
    margin-right: 10px; }
  .xlg-mr20 {
    margin-right: 20px; }
  .xlg-mr30 {
    margin-right: 30px; }
  .xlg-mr40 {
    margin-right: 40px; }
  .xlg-mr50 {
    margin-right: 50px; }
  .xlg-mr60 {
    margin-right: 60px; }
  .xlg-mr70 {
    margin-right: 70px; }
  .xlg-mr80 {
    margin-right: 80px; }
  .xlg-mr90 {
    margin-right: 90px; }
  .xlg-mr100 {
    margin-right: 100px; }
  .xlg-p0 {
    padding: 0; }
  .xlg-p10 {
    padding: 10px; }
  .xlg-p20 {
    padding: 20px; }
  .xlg-p30 {
    padding: 30px; }
  .xlg-p40 {
    padding: 40px; }
  .xlg-p50 {
    padding: 50px; }
  .xlg-p60 {
    padding: 60px; }
  .xlg-p70 {
    padding: 70px; }
  .xlg-p80 {
    padding: 80px; }
  .xlg-p90 {
    padding: 90px; }
  .xlg-p100 {
    padding: 100px; }
  .xlg-pt0 {
    padding-top: 0; }
  .xlg-pt10 {
    padding-top: 10px; }
  .xlg-pt20 {
    padding-top: 20px; }
  .xlg-pt30 {
    padding-top: 30px; }
  .xlg-pt40 {
    padding-top: 40px; }
  .xlg-pt50 {
    padding-top: 50px; }
  .xlg-pt60 {
    padding-top: 60px; }
  .xlg-pt70 {
    padding-top: 70px; }
  .xlg-pt80 {
    padding-top: 80px; }
  .xlg-pt90 {
    padding-top: 90px; }
  .xlg-pt100 {
    padding-top: 100px; }
  .xlg-pb0 {
    padding-bottom: 0; }
  .xlg-pb10 {
    padding-bottom: 10px; }
  .xlg-pb20 {
    padding-bottom: 20px; }
  .xlg-pb30 {
    padding-bottom: 30px; }
  .xlg-pb40 {
    padding-bottom: 40px; }
  .xlg-pb50 {
    padding-bottom: 50px; }
  .xlg-pb60 {
    padding-bottom: 60px; }
  .xlg-pb70 {
    padding-bottom: 70px; }
  .xlg-pb80 {
    padding-bottom: 80px; }
  .xlg-pb90 {
    padding-bottom: 90px; }
  .xlg-pb100 {
    padding-bottom: 100px; }
  .xlg-pl0 {
    padding-left: 0; }
  .xlg-pl10 {
    padding-left: 10px; }
  .xlg-pl20 {
    padding-left: 20px; }
  .xlg-pl30 {
    padding-left: 30px; }
  .xlg-pl40 {
    padding-left: 40px; }
  .xlg-pl50 {
    padding-left: 50px; }
  .xlg-pl60 {
    padding-left: 60px; }
  .xlg-pl70 {
    padding-left: 70px; }
  .xlg-pl80 {
    padding-left: 80px; }
  .xlg-pl90 {
    padding-left: 90px; }
  .xlg-pl100 {
    padding-left: 100px; }
  .xlg-pr0 {
    padding-right: 0; }
  .xlg-pr10 {
    padding-right: 10px; }
  .xlg-pr20 {
    padding-right: 20px; }
  .xlg-pr30 {
    padding-right: 30px; }
  .xlg-pr40 {
    padding-right: 40px; }
  .xlg-pr50 {
    padding-right: 50px; }
  .xlg-pr60 {
    padding-right: 60px; }
  .xlg-pr70 {
    padding-right: 70px; }
  .xlg-pr80 {
    padding-right: 80px; }
  .xlg-pr90 {
    padding-right: 90px; }
  .xlg-pr100 {
    padding-right: 100px; } }

@media screen and (min-width: 1344px) {
  .xxlg-text-left {
    text-align: left; }
  .xxlg-text-right {
    text-align: right; }
  .xxlg-text-center {
    text-align: center; }
  .xxlg-m0 {
    margin: 0; }
  .xxlg-m10 {
    margin: 10px; }
  .xxlg-m20 {
    margin: 20px; }
  .xxlg-m30 {
    margin: 30px; }
  .xxlg-m40 {
    margin: 40px; }
  .xxlg-m50 {
    margin: 50px; }
  .xxlg-m60 {
    margin: 60px; }
  .xxlg-m70 {
    margin: 70px; }
  .xxlg-m80 {
    margin: 80px; }
  .xxlg-m90 {
    margin: 90px; }
  .xxlg-m100 {
    margin: 100px; }
  .xxlg-mt0 {
    margin-top: 0; }
  .xxlg-mt10 {
    margin-top: 10px; }
  .xxlg-mt20 {
    margin-top: 20px; }
  .xxlg-mt30 {
    margin-top: 30px; }
  .xxlg-mt40 {
    margin-top: 40px; }
  .xxlg-mt50 {
    margin-top: 50px; }
  .xxlg-mt60 {
    margin-top: 60px; }
  .xxlg-mt70 {
    margin-top: 70px; }
  .xxlg-mt80 {
    margin-top: 80px; }
  .xxlg-mt90 {
    margin-top: 90px; }
  .xxlg-mt100 {
    margin-top: 100px; }
  .xxlg-mb0 {
    margin-bottom: 0; }
  .xxlg-mb10 {
    margin-bottom: 10px; }
  .xxlg-mb20 {
    margin-bottom: 20px; }
  .xxlg-mb30 {
    margin-bottom: 30px; }
  .xxlg-mb40 {
    margin-bottom: 40px; }
  .xxlg-mb50 {
    margin-bottom: 50px; }
  .xxlg-mb60 {
    margin-bottom: 60px; }
  .xxlg-mb70 {
    margin-bottom: 70px; }
  .xxlg-mb80 {
    margin-bottom: 80px; }
  .xxlg-mb90 {
    margin-bottom: 90px; }
  .xxlg-mb100 {
    margin-bottom: 100px; }
  .xxlg-ml0 {
    margin-left: 0; }
  .xxlg-ml10 {
    margin-left: 10px; }
  .xxlg-ml20 {
    margin-left: 20px; }
  .xxlg-ml30 {
    margin-left: 30px; }
  .xxlg-ml40 {
    margin-left: 40px; }
  .xxlg-ml50 {
    margin-left: 50px; }
  .xxlg-ml60 {
    margin-left: 60px; }
  .xxlg-ml70 {
    margin-left: 70px; }
  .xxlg-ml80 {
    margin-left: 80px; }
  .xxlg-ml90 {
    margin-left: 90px; }
  .xxlg-ml100 {
    margin-left: 100px; }
  .xxlg-mr0 {
    margin-right: 0; }
  .xxlg-mr10 {
    margin-right: 10px; }
  .xxlg-mr20 {
    margin-right: 20px; }
  .xxlg-mr30 {
    margin-right: 30px; }
  .xxlg-mr40 {
    margin-right: 40px; }
  .xxlg-mr50 {
    margin-right: 50px; }
  .xxlg-mr60 {
    margin-right: 60px; }
  .xxlg-mr70 {
    margin-right: 70px; }
  .xxlg-mr80 {
    margin-right: 80px; }
  .xxlg-mr90 {
    margin-right: 90px; }
  .xxlg-mr100 {
    margin-right: 100px; }
  .xxlg-p0 {
    padding: 0; }
  .xxlg-p10 {
    padding: 10px; }
  .xxlg-p20 {
    padding: 20px; }
  .xxlg-p30 {
    padding: 30px; }
  .xxlg-p40 {
    padding: 40px; }
  .xxlg-p50 {
    padding: 50px; }
  .xxlg-p60 {
    padding: 60px; }
  .xxlg-p70 {
    padding: 70px; }
  .xxlg-p80 {
    padding: 80px; }
  .xxlg-p90 {
    padding: 90px; }
  .xxlg-p100 {
    padding: 100px; }
  .xxlg-pt0 {
    padding-top: 0; }
  .xxlg-pt10 {
    padding-top: 10px; }
  .xxlg-pt20 {
    padding-top: 20px; }
  .xxlg-pt30 {
    padding-top: 30px; }
  .xxlg-pt40 {
    padding-top: 40px; }
  .xxlg-pt50 {
    padding-top: 50px; }
  .xxlg-pt60 {
    padding-top: 60px; }
  .xxlg-pt70 {
    padding-top: 70px; }
  .xxlg-pt80 {
    padding-top: 80px; }
  .xxlg-pt90 {
    padding-top: 90px; }
  .xxlg-pt100 {
    padding-top: 100px; }
  .xxlg-pb0 {
    padding-bottom: 0; }
  .xxlg-pb10 {
    padding-bottom: 10px; }
  .xxlg-pb20 {
    padding-bottom: 20px; }
  .xxlg-pb30 {
    padding-bottom: 30px; }
  .xxlg-pb40 {
    padding-bottom: 40px; }
  .xxlg-pb50 {
    padding-bottom: 50px; }
  .xxlg-pb60 {
    padding-bottom: 60px; }
  .xxlg-pb70 {
    padding-bottom: 70px; }
  .xxlg-pb80 {
    padding-bottom: 80px; }
  .xxlg-pb90 {
    padding-bottom: 90px; }
  .xxlg-pb100 {
    padding-bottom: 100px; }
  .xxlg-pl0 {
    padding-left: 0; }
  .xxlg-pl10 {
    padding-left: 10px; }
  .xxlg-pl20 {
    padding-left: 20px; }
  .xxlg-pl30 {
    padding-left: 30px; }
  .xxlg-pl40 {
    padding-left: 40px; }
  .xxlg-pl50 {
    padding-left: 50px; }
  .xxlg-pl60 {
    padding-left: 60px; }
  .xxlg-pl70 {
    padding-left: 70px; }
  .xxlg-pl80 {
    padding-left: 80px; }
  .xxlg-pl90 {
    padding-left: 90px; }
  .xxlg-pl100 {
    padding-left: 100px; }
  .xxlg-pr0 {
    padding-right: 0; }
  .xxlg-pr10 {
    padding-right: 10px; }
  .xxlg-pr20 {
    padding-right: 20px; }
  .xxlg-pr30 {
    padding-right: 30px; }
  .xxlg-pr40 {
    padding-right: 40px; }
  .xxlg-pr50 {
    padding-right: 50px; }
  .xxlg-pr60 {
    padding-right: 60px; }
  .xxlg-pr70 {
    padding-right: 70px; }
  .xxlg-pr80 {
    padding-right: 80px; }
  .xxlg-pr90 {
    padding-right: 90px; }
  .xxlg-pr100 {
    padding-right: 100px; } }

.easy-responsive-tabs h2.resp-accordion {
  font-size: 18px;
  padding: 15px !important; }
  .easy-responsive-tabs h2.resp-accordion:hover {
    background-image: radial-gradient(circle at top right, #00A77E, #F2EB76) !important; }
    .easy-responsive-tabs h2.resp-accordion:hover span.resp-arrow {
      border-top: 12px solid #FFFFFF; }

.easy-responsive-tabs h2.resp-tab-active {
  background-image: radial-gradient(circle at top right, #00A77E, #F2EB76) !important;
  border-color: #c1c1c1 !important;
  border-top: 0 !important; }
  .easy-responsive-tabs h2.resp-tab-active:first-child {
    border: 1px solid !important;
    border-color: #c1c1c1 !important; }
  .easy-responsive-tabs h2.resp-tab-active span.resp-arrow {
    border-bottom: 12px solid #FFFFFF;
    border-top: 0 !important; }

.easy-responsive-tabs .resp-tab-content {
  border-color: #c1c1c1 !important; }

@media screen and (min-width: 641px) {
  .easy-responsive-tabs .resp-tabs-list li {
    margin-top: 1px; }
    .easy-responsive-tabs .resp-tabs-list li:hover {
      position: relative; }
  .easy-responsive-tabs .resp-tab-active {
    position: relative;
    border-color: #c1c1c1 !important;
    border-top-color: #00A67E !important;
    background-color: transparent; }
  .easy-responsive-tabs .resp-tab-content-active {
    overflow: hidden; }
  .easy-responsive-tabs .resp-vtabs .resp-tabs-container {
    border-color: #c1c1c1 !important;
    border-radius: 0; }
  .easy-responsive-tabs .resp-vtabs li.resp-tab-active {
    border-color: #c1c1c1 !important;
    border-left-color: #00A67E !important;
    border-right: 0 !important; } }

@media screen and (min-width: 800px) and (max-width: 1140px) {
  ul.resp-tabs-list {
    display: none; }
  h2.resp-accordion {
    display: block; }
  .easy-responsive-tabs .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1; }
  .easy-responsive-tabs .resp-vtabs .resp-tabs-container {
    border: none;
    float: none;
    width: 100%;
    min-height: 100px;
    clear: none; }
  .easy-responsive-tabs .resp-accordion-closed {
    display: none !important; }
  .easy-responsive-tabs .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important; } }
